- var page = {}
- page.lang = 'es'
- page.title = 'titulo de la pagina'
- page.description = 'Descripcion de la pagina'
- page.keywords = 'keywords, keywords y mas keywords'
- page.img = 'img/imagen.jpg'
- page.favicon = 'img/favicon.ico'
- page.author = 'author de la pagina'
- page.developer = 'developer'
- page.aaa = 'es'
- page.bbb = 'es'
- page.ccc = 'es'
- page.ddd = 'es'
- page.eee = 'es'
- page.fff = 'es'
- page.ggg = 'es'